[Desktop Entry]
Type=Application
Name=SQGI Manifest Studio
Comment=Create and edit sqgipkg manifests
Exec=sqgipkg-gui %f
Icon=org.sqgi.ManifestStudio
Terminal=false
Categories=Development;
